In [447]:
import networkx as netx
import numpy as np
import pandas as pd
from random import randint, random
import DaPy as dp

In [448]:
owid_covid19 = pd.read_csv('./dataset/OWID/owid-covid-data.csv')
owid_covid19.head(2)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,NaN,0.0,0.0,NaN,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,NaN,0.0,0.0,NaN,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83

In [449]:
recovered_covid19=pd.read_csv('./dataset/COVID-19-master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
recovered_covid19.head(5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,8/16/20,8/17/20,8/18/20,8/19/20,8/20/20,8/21/20,8/22/20,8/23/20,8/24/20,8/25/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,27166,27166,27166,27166,27681,28016,28016,28180,28360,28440
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,3794,3816,3871,3928,3986,4096,4184,4332,4413,4530
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,27017,27347,27653,27971,28281,28587,28874,29142,29369,29587
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,863,869,869,875,875,875,875,875,877,877
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,628,632,667,698,742,804,814,818,877,977

In [450]:
owid_covid19_japan=owid_covid19.query("location=='Japan'")
owid_covid19_japan=owid_covid19_japan[22:]
population=int(owid_covid19_japan['population'].max())
population
owid_covid19_japan

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
18688,JPN,Asia,Japan,2020-01-22,1.0,0.0,0.000,0.0,0.0,0.000,...,18.493,39002.223,NaN,79.37,5.72,11.2,33.7,NaN,13.05,84.63
18689,JPN,Asia,Japan,2020-01-23,1.0,0.0,0.000,0.0,0.0,0.000,...,18.493,39002.223,NaN,79.37,5.72,11.2,33.7,NaN,13.05,84.63
18690,JPN,Asia,Japan,2020-01-24,2.0,1.0,0.143,0.0,0.0,0.000,...,18.493,39002.223,NaN,79.37,5.72,11.2,33.7,NaN,13.05,84.63
18691,JPN,Asia,Japan,2020-01-25,2.0,0.0,0.143,0.0,0.0,0.000,...,18.493,39002.223,NaN,79.37,5.72,11.2,33.7,NaN,13.05,84.63
18692,JPN,Asia,Japan,2020-01-26,3.0,1.0,0.286,0.0,0.0,0.000,...,18.493,39002.223,NaN,79.37,5.72,11.2,33.7,NaN,13.05,84.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18902,JPN,Asia,Japan,2020-08-23,61747.0,1014.0,1004.714,1176.0,7.0,12.571,...,18.493,39002.223,NaN,79.37,5.72,11.2,33.7,NaN,13.05,84.63
18903,JPN,Asia,Japan,2020-08-24,61754.0,7.0,971.714,1180.0,4.0,11.714,...,18.493,39002.223,NaN,79.37,5.72,11.2,33.7,NaN,13.05,84.63
18904,JPN,Asia,Japan,2020-08-25,63121.0,1367.0,1023.286,1196.0,16.0,11.714,...,18.493,39002.223,NaN,79.37,5.72,11.2,33.7,NaN,13.05,84.63
18905,JPN,Asia,Japan,2020-08-26,63822.0,701.0,896.000,1209.0,13.0,11.571,...,18.493,39002.223,NaN,79.37,5.72,11.2,33.7,NaN,13.05,84.63
18906,JPN,Asia,Japan,2020-08-27,64668.0,846.0,881.000,1226.0,17.0,11.714,...,18.493,39002.223,NaN,79.37,5.72,11.2,33.7,NaN,13.05,84.63

In [451]:
recovered_covid19_japan=recovered_covid19[recovered_covid19['Country/Region']=='Japan']
recovered_covid19_japan=recovered_covid19_japan.drop(['Province/State','Country/Region','Lat','Long'],axis=1)

In [452]:
recovered_covid19_japan_data=pd.DataFrame(recovered_covid19_japan.values[0],columns=['recovred'])
recovered_covid19_japan_data

     recovred
0           0
1           0
2           0
3           0
4           1
..        ...
212     46264
213     47418
214     48319
215     49089
216     50092

[217 rows x 1 columns]

In [453]:
new_recovered_covid19_japan_data=[]
for i in range(recovered_covid19_japan_data.shape[0]):
    if i+1>216:
        break
    diff=recovered_covid19_japan_data['recovred'][i+1]-recovered_covid19_spain_data['recovred'][i]
    new_recovered_covid19_japan_data.append(diff)
len(new_recovered_covid19_japan_data)
new_recovered_covid19_japan_data.append(0)
recovered_covid19_japan_data['new_recovered']=new_recovered_covid19_japan_data

In [454]:
owid_covid19_japan=owid_covid19_japan.reset_index()

In [455]:
covid19_japan=pd.concat([owid_covid19_japan,recovered_covid19_japan_data], axis=1,ignore_index=False)
covid19_japan.head(5)

,index,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,recovred,new_recovered
0,18688,JPN,Asia,Japan,2020-01-22,1.0,0.0,0.000,0.0,0.0,...,NaN,79.37,5.72,11.2,33.7,NaN,13.05,84.63,0.0,0.0
1,18689,JPN,Asia,Japan,2020-01-23,1.0,0.0,0.000,0.0,0.0,...,NaN,79.37,5.72,11.2,33.7,NaN,13.05,84.63,0.0,0.0
2,18690,JPN,Asia,Japan,2020-01-24,2.0,1.0,0.143,0.0,0.0,...,NaN,79.37,5.72,11.2,33.7,NaN,13.05,84.63,0.0,0.0
3,18691,JPN,Asia,Japan,2020-01-25,2.0,0.0,0.143,0.0,0.0,...,NaN,79.37,5.72,11.2,33.7,NaN,13.05,84.63,0.0,1.0
4,18692,JPN,Asia,Japan,2020-01-26,3.0,1.0,0.286,0.0,0.0,...,NaN,79.37,5.72,11.2,33.7,NaN,13.05,84.63,1.0,1.0

In [459]:
columns=['date','new_cases','new_deaths','new_recovered']
covid19_japan=covid19_japan[columns][:-1]
covid19_japan_clean=covid19_japan.drop(['date'],axis=1)
covid19_japan_clean[covid19_japan_clean<0]=0
covid19_japan_clean

     new_cases  new_deaths  new_recovered
0          0.0         0.0            0.0
1          0.0         0.0            0.0
2          1.0         0.0            0.0
3          0.0         0.0            1.0
4          1.0         0.0            1.0
..         ...         ...            ...
210     1592.0        14.0            0.0
211      951.0        16.0            0.0
212     1220.0        11.0            0.0
213     1012.0        14.0            0.0
214     1014.0         7.0            0.0

[215 rows x 3 columns]

In [460]:
covid19_save=covid19_japan_clean.copy()
covid19_save['确诊']=covid19_japan_clean['new_cases'].astype('int')
covid19_save['死亡']=covid19_japan_clean['new_deaths'].astype('int')
covid19_save['治愈']=covid19_japan_clean['new_recovered'].astype('int')
covid19_save=covid19_save.drop(['new_cases','new_deaths','new_recovered'],axis=1)

In [461]:
covid19_save.to_csv('./save_csv/japan.csv',encoding='utf-8')

In [462]:
data_set = dp.read('./save_csv/japan.csv',encoding='utf-8').data
data_set.show()

 - read() in 0.001s.

            |    确诊    |    死亡    |    治愈
------------+------------+------------+------------
          0 |          0 |          0 |          0
          1 |          0 |          0 |          0
          2 |          1 |          0 |          0
          3 |          0 |          0 |          1
          4 |          1 |          0 |          1
          5 |          0 |          0 |          1
          6 |          1 |          0 |          1
          7 |          3 |          0 |          1
          8 |          4 |          0 |          1
          9 |          3 |          0 |          1
         10 |          1 |          0 |          1
         11 |          4 |          0 |          1
         12 |          1 |          0 |          1
         13 |          0 |          0 |          1
         14 |          5 |          0 |          1
         15 |          0 |          0 |          1
         16 |          0 |          0 |          1
         17 |          0 |          0 |          1
         18 |          0 |          0 |          4
         19 |          0 |          0 |          9
         20 |          0 |          0 |          9
         21 |          0 |          0 |          9
         22 |          4 |          1 |          9
         23 |          1 |          0 |         12
         24 |          8 |          0 |         10
         25 |         14 |          0 |         10
         26 |          7 |          0 |         11
         27 |          0 |          0 |         16
         28 |          7 |          0 |         16
         29 |         18 |          0 |         20
         30 |          9 |          0 |         20
         31 |         12 |          0 |         20
         32 |         27 |          0 |         20
         33 |         12 |          0 |         20
         34 |          0 |          0 |         20
         35 |         20 |          0 |         20
         36 |         22 |          2 |         20
         37 |         24 |          0 |         30
         38 |         20 |          0 |         30
         39 |          9 |          2 |         30
         40 |         15 |          1 |         41
         41 |          0 |          0 |         41
         42 |         14 |          0 |         41
         43 |         49 |          0 |         44
         44 |         32 |          0 |         74
         45 |         59 |          0 |         46
         46 |         47 |          0 |         46
         47 |         33 |          1 |         69
         48 |         26 |          2 |         86
         49 |         54 |          3 |          0
         50 |         51 |          3 |          0
         51 |         56 |          4 |          0
         52 |         62 |          2 |          0
         53 |         43 |          1 |          0
         54 |         34 |          2 |          0
         55 |         10 |          4 |          0
         56 |          5 |          0 |          0
         57 |         44 |          1 |          0
         58 |         77 |          4 |          0
         59 |         57 |          2 |          0
         60 |         39 |          1 |          0
         61 |         43 |          5 |          0
         62 |         39 |          1 |          0
         63 |         65 |          1 |          0
         64 |         75 |          2 |          0
         65 |         96 |          1 |          0
         66 |        135 |          3 |          0
         67 |        194 |          3 |          0
         68 |        173 |          2 |          0
         69 |         87 |          2 |          0
         70 |          0 |          0 |          0
         71 |        225 |          1 |          0
         72 |        439 |          6 |          0
         73 |        318 |          6 |          0
         74 |        336 |          1 |          0
         75 |        383 |          3 |          0
         76 |        252 |          7 |          0
         77 |        351 |          1 |          0
         78 |        511 |          4 |          0
         79 |        579 |          3 |          0
         80 |        658 |          6 |          0
         81 |        743 |          4 |          0
         82 |        507 |          4 |          0
         83 |        390 |          7 |          0
         84 |        455 |         10 |          0
         85 |        482 |         17 |          0
         86 |        585 |         12 |          0
         87 |        628 |          6 |          0
         88 |        566 |          7 |          0
         89 |        390 |         10 |          0
         90 |        367 |         15 |          0
         91 |        378 |          0 |          0
         92 |        276 |        101 |          0
         93 |        468 |         30 |          0
         94 |        652 |         17 |          0
         95 |        290 |         14 |          0
         96 |        203 |          3 |          0
         97 |        191 |         25 |          0
         98 |        276 |         13 |          0
         99 |        236 |         26 |          0
        100 |        193 |         17 |          0
        101 |        263 |         26 |          0
        102 |        295 |         34 |          0
        103 |        218 |         18 |          0
        104 |        174 |         11 |          0
        105 |        123 |         22 |          0
        106 |        109 |          8 |          0
        107 |         84 |          6 |          0
        108 |         81 |         44 |          0
        109 |        119 |         12 |          0
        110 |         51 |          8 |          0
        111 |         76 |         22 |          0
        112 |        150 |         25 |          0
        113 |         55 |         19 |          0
        114 |        114 |         23 |          0
        115 |         44 |         15 |          0
        116 |         48 |         19 |          0
        117 |         20 |          5 |          0
        118 |         60 |         14 |          0
        119 |         20 |          8 |          0
        120 |         39 |          6 |          0
        121 |         89 |         19 |          0
        122 |         23 |         12 |          0
        123 |         14 |         12 |          0
        124 |         31 |         10 |          0
        125 |         42 |         16 |          0
        126 |         28 |         12 |          0
        127 |          0 |          0 |          0
        128 |         68 |         16 |          0
        129 |         85 |         12 |          0
        130 |         47 |          5 |          0
        131 |         33 |          1 |          0
        132 |         46 |          2 |          0
        133 |         56 |          6 |          0
        134 |         32 |          3 |          0
        135 |         46 |          4 |          0
        136 |         39 |          7 |          0
        137 |         38 |          2 |          0
        138 |         33 |          0 |          0
        139 |         36 |          0 |          0
        140 |         41 |          3 |          0
        141 |         41 |          1 |          0
        142 |         40 |          2 |          0
        143 |         50 |          2 |          0
        144 |         47 |          1 |          0
        145 |         73 |          0 |          0
        146 |         85 |          2 |          0
        147 |         41 |          4 |          0
        148 |         40 |          4 |          0
        149 |         72 |          0 |          0
        150 |         59 |         17 |          0
        151 |          0 |          0 |          0
        152 |        117 |          1 |          0
        153 |         52 |          2 |          0
        154 |         59 |          8 |          0
        155 |         83 |          5 |          0
        156 |         87 |          1 |          0
        157 |        100 |          2 |          0
        158 |         93 |          0 |          0
        159 |         86 |          1 |          0
        160 |        117 |          0 |          0
        161 |        130 |          2 |          0
        162 |        151 |          1 |          0
        163 |        194 |          1 |          0
        164 |        214 |          1 |          0
        165 |        240 |          0 |          0
        166 |        253 |          0 |          0
        167 |        206 |          1 |          0
        168 |        193 |          2 |          0
        169 |        197 |          1 |          0
        170 |        348 |          1 |          0
        171 |        410 |          0 |          0
        172 |        373 |          0 |          0
        173 |        366 |          0 |          0
        174 |        352 |          0 |          0
        175 |        288 |          2 |          0
        176 |        382 |          1 |          0
        177 |        583 |          0 |          0
        178 |        659 |          0 |          0
        179 |        510 |          0 |          0
        180 |        454 |          0 |          0
        181 |        640 |          3 |          0
        182 |        567 |          1 |          0
        183 |        726 |          1 |          0
        184 |        927 |          2 |          0
        185 |        830 |          1 |          0
        186 |        596 |          3 |          0
        187 |        607 |          0 |          0
        188 |          0 |          0 |          0
        189 |       1344 |          4 |          0
        190 |       1126 |          3 |          0
        191 |       1315 |          2 |          0
        192 |        598 |          1 |          0
        193 |       1709 |          4 |          0
        194 |       1991 |          1 |          0
        195 |       1786 |          5 |          0
        196 |       1271 |          6 |          0
        197 |       1134 |          4 |          0
        198 |       1552 |          7 |          0
        199 |       1624 |          6 |          0
        200 |       1344 |          1 |          0
        201 |       1207 |          7 |          0
        202 |        248 |          4 |          0
        203 |       1274 |          7 |          0
        204 |        932 |          4 |          0
        205 |       1069 |         10 |          0
        206 |       2064 |         13 |          0
        207 |       1137 |          3 |          0
        208 |        238 |         10 |          0
        209 |       1006 |         16 |          0
        210 |       1592 |         14 |          0
        211 |        951 |         16 |          0
        212 |       1220 |         11 |          0
        213 |       1012 |         14 |          0
        214 |       1014 |          7 |          0

In [463]:
train = data_set['确诊', '死亡', '治愈']
train

确诊: <0, 0, 1, 0, 1, ... ,1592, 951, 1220, 1012, 1014>
死亡: <0, 0, 0, 0, 0, ... ,14, 16, 11, 14, 7>
治愈: <0, 0, 0, 1, 1, ... ,0, 0, 0, 0, 0>

In [464]:
train.accumulate(inplace=True)

确诊: <0, 0, 1, 1, 2, ... ,57549, 58500, 59720, 60732, 61746>
死亡: <0, 0, 0, 0, 0, ... ,1128, 1144, 1155, 1169, 1176>
治愈: <0, 0, 0, 1, 2, ... ,868, 868, 868, 868, 868>

#### SEID模型
易感数量 Susceptible：可能感染该病的健康人员数量

潜伏数量 Exposed：已感染病毒，但仍未表现出症状

患者数量 Infected： 已感染病毒，并表现出了症状

死者数量 Dead：死亡患者人数

治愈数量 Cured：治愈患者人数

潜伏感染率 $\alpha_{1}$：由潜伏者导致的传染概率

患者感染率 $\alpha_{2}$：由患者导致的传染概率

确诊率 $\beta$：潜伏者表现出症状的概率

治愈率 $\sigma$：患者治愈的概率

死亡率 $\gamma$：患者死亡的概率


$$
\frac{dS}{dt} = - \alpha_{1} E - \alpha_{2} I + \sigma I \\
\frac{dE}{dt} = \alpha_{1} E + \alpha_{2} I - \beta E\\
\frac{dI}{dt} = \beta E - \sigma I - \gamma I\\
\frac{dD}{dt} = \gamma E\\
\frac{dC}{dt} = \sigma I \\
$$

In [465]:
from scipy.optimize import dual_annealing, minimize
from sklearn.metrics import r2_score
from collections import namedtuple
from matplotlib import pyplot as plt
plt.rcParams['font.sans-serif'] = ['SimHei']

SEIR_PARAM = namedtuple('SEIRparm', ['alpha1', 'alpha2', 'beta', 'sigma', 'gamma'])

class SEIR(object):
    def __init__(self, P=None):
        self.P = P
        
    def _forward(self, S, E, I, D, C, param, max_iter):
        a1, a2, b, s, g = param
        est = dp.Table(columns=['S', 'E', 'I', 'D', 'C'])
        for t in range(max_iter):
            S_ = S - a1 * E - a2 * I + s * I
            E_ = E + a1 * E + a2 * I - b * E
            I_ = I + b * E - s * I - g * I
            D_ = D + g * I
            C_ = C + s * I
            S, E, I, D, C = S_, E_, I_, D_, C_
            est.append_row([S, E, I, D, C])
        return est
    
    def _loss(self, obs, est):
        assert len(obs) == len(est)
        loss = ((np.log2(obs + 1) - np.log2(est + 1)) ** 2).sum()
        self.lossing.append(loss)
        return loss
    
    def _optimize(self, param, s, e, i, d, c, obs):
        est = self._forward(s, e, i, d, c, param, len(obs))
        return self._loss(obs, est['I', 'D', 'C'].toarray())
    
    def fit(self, initS, initE, initI, initD, initC, Y):
        self.lossing = []
        args = (initS, initE, initI, initD, initC, Y['确诊', '死亡', '治愈'].toarray())
        param = [(0, 1),] * 5
        # result = minimize(self._optimize, [random()] * 5, args=args, bounds=param)['x']
        result = dual_annealing(self._optimize, param, args=args, seed=30, maxiter=10)['x']
        self.P = SEIR_PARAM(*result)
    
    def score(self, initS, initE, initI, initD, initC, Y, plot=False):
        est = self.predict(initS, initE, initI, initD, initC, len(Y))['I', 'D', 'C']
        loss = self._loss(Y['确诊', '死亡', '治愈'].toarray(), est.toarray())
        est.columns = ['确诊', '死亡', '治愈']
        r1 = r2_score(Y['治愈'], est['治愈'])
        r2 = r2_score(Y['死亡'], est['死亡'])
        r3 = r2_score(Y['确诊'], est['确诊'])
        if plot:
            self.plot_predict(Y, est)
            print(' - 平均潜伏期为：%.2f天' % (1.0 / self.P.beta))
            print(' - 病毒再生基数：%.2f' % (self.P.alpha1 / self.P.beta + (self.P.alpha2 / self.P.sigma + self.P.alpha2 / self.P.gamma)/ 2))
            print(' - 确诊R2：%.4f' % r3)
            print(' - 死亡R2：%.4f' % r2)
            print(' - 治愈R2：%.4f' % r1)
            print(' - 模型R2：%.4f' % ((r1 + r2 + r3) / 3))
            print(' - 模型总误差：%.4f' % loss)
        return loss, (r1 + r2 + r3) / 3
    
    def plot_error(self):
        plt.plot(self.lossing, label=u'正确率')
        plt.legend()
        plt.show()
    
    def plot_predict(self, obs, est):
        for label, color in zip(obs.keys(), ['red', 'black', 'green']):
            plt.plot(obs[label], color=color)
            plt.plot(est[label], color=color, alpha=0.6, label=label)
            plt.legend()
            plt.show()
            
    def predict(self, initS, initE, initI, initD,initC, T):
        return self._forward(initS, initE, initI, initD, initC, self.P, T)

In [ ]:
def searchBestParam(seir):
    min_loss, max_r2, best_param, likeli_potential = float('inf'),0.0, None, 0
    for potential in range(0, 2200, 20):
        seir.fit(population, potential, 2064 , 13 , 0, train)
        loss, r2 = seir.score(population, potential, 2064 , 13 , 0, Y=train)
        print(loss, r2)
        if loss < min_loss and r2 > max_r2:
            print('潜在患者：%.4f | R2：%.4f | 误差： %.6f' % (potential, r2, loss))
            min_loss, max_r2, best_param, likeli_potential = loss, r2, seir.P, potential
    seir.P = best_param
    seir.score(population, likeli_potential, 2064 , 13 , 0, Y=train, plot=True)
    return seir, likeli_potential

In [ ]:
seir, potentials = searchBestParam(SEIR())

In [ ]:
def forcast(seir, T):
    predict = seir.predict(population, potentials, 84, 6, 0, T)
    plt.plot(train['确诊'], label='确诊(真实)', color='red')
    plt.plot(train['死亡'], label='死亡(真实)', color='black')
    plt.plot(train['治愈'], label='治愈(真实)', color='green')
    # plt.plot(predict['S'], label='易感(预计)', color='blue', alpha=0.5)
    plt.plot(predict['E'], label='潜伏(预计)', color='orange', alpha=0.5)
    plt.plot(predict['I'], label='确诊(预计)', color='red', alpha=0.5)
    plt.plot(predict['D'], label='死亡(预计)', color='black', alpha=0.5)
    plt.plot(predict['C'], label='治愈(预计)', color='green', alpha=0.5)
    plt.legend()
    plt.show()
forcast(seir, 30)